    <!DOCTYPE html>
    <html lang="en">
        <body>
            <a href="{{ path('app_AddClassroom') }}">
                Add Classroom
                            
            </a>
            <a href="{{ path('app_AddStudent') }}">
            Add Student
                        
        </a>
            <table border="1">
                <thead>
                    <tr>
                        <th>
                            id
                                                    
                        </th>
                        <th>
                            name
                                                    
                        </th>
                       
                        <th>
                            Update
                                                    
                        </th>
                        <th>
                            Delete
                                                    
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in tabClassrooms %}
                        <tr>
                            <td>
                                {{ i.id }}
                            </td>
                            <td>
                                {{ i.name }}
                            </td>
                           
                            <td>
                                <a href="{{ path('app_updateClassroom',{'id':i.id}) }}">
                                    Update
                                                                    
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('app_removeClassroom',{'id':i.id}) }}">
                                    Delete
                                                                    
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        </body>
    </html>
    